* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: source-bold;
  src: url(../font/SourceCodePro-Bold.ttf);
}

@font-face {
  font-family: source;
  src: url(../font/SourceCodePro-Light.ttf);
}

#pwny {
  max-width: 300px;
  height: auto;
  margin: 0 auto;
  display: block;
  padding: 50px 0;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
  color: #b3541e;
  font-family: source-bold;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #b3541e;
  font-family: source;
}

#tagline {
  padding: 0 1rem;
  text-align: center;
}

#tagline::before {
  content: '> ';
}

#fallctf {
  text-align: center;
  padding-top: 20vh;
  padding-bottom: 20px;
}

section {
  width: 100%;
  max-width: 100%;
  float: left;
  position: relative;
  background-color: #040303;
}

#home {
  height: 100vh;
}

#about {
  min-height: 100%;
  float: left;
}

.arrow {
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 14px;
  transform: rotate(45deg) translateX(-50%);
  -webkit-transform: rotate(45deg) translateX(-50%);
  position: absolute;
  bottom: 40px;
  left: 50%;
  cursor: pointer;
}

p {
  color: aliceblue;
  font-family: source;
  font-size: 1.5rem;
  line-height: 1.2;
  padding: 0 0.5rem;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.container > .section {
  margin: 2rem 0;
}

.entry {
  padding-top: 20px;
  padding-bottom: 5px;
}

.entry::before {
  content: '> ';
}

.line {
  width: 100%;
  height: 1px;
  background-color: white;
  padding-top: 2px;
  padding-bottom: 10px;
  background-clip: content-box;
}

a {
  color: #ed7a31;
  text-decoration: none;
}

.sponsor-wrapper {
  margin: 2rem 0;
  padding: 0 0.5rem;
}

.sponsor {
  max-width: 300px;
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: white;
  display: inline-block;
}

.sponsor > img {
  width: 100%;
}

.top-nav {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: 2rem 1rem;
  background-color: #ed7a31;
  color: black;
  font-family: source-bold;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
}

.title {
  color: black;
  margin: 0 1rem;
}

.top-nav > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.top-nav > ul > li {
  margin: 0 1rem;
}

.top-nav > ul > li > a {
  color: inherit;
}

.top-nav .hamburger {
  display: none;
  margin: 0 1rem;
}

/* CSS magic to create hambuger */
.top-nav .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #040303;
}

/* Don't show arrow to scroll if screen is too short */
@media screen and (max-height: 700px) {
  .arrow {
    display: none;
  }

  #home {
    height: auto;
  }
}

/* Reduce the logo size to avoid overlap with arrow on small screens */
@media screen and (max-height: 770px) {
  #pwny {
    max-height: 250px;
  }

  /* Convert nav menu to vertical list and send it off to the left */
  .top-nav .nav-menu {
    position: fixed;
    left: -100%;
    top: 4rem;
    flex-direction: column;
    background-color: #ed7a31;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
  }

  /* If nav menu is enabled, bring it back */
  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .top-nav .hamburger {
      display: block;
      cursor: pointer;
  }

  /* Turns hambuger into X */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }

}

@media screen and (max-height: 770px) and (max-width: 600px) {
  /* Make room for bottom address bar on mobile safari */
  .arrow {
    bottom: 100px;
  }
}

/* Reduce text and other size on small screens */
@media screen and (max-width: 600px) {
  .top-nav {
    padding: 1.5rem 0;
  }

  #pwny {
    max-width: 250px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.1;
  }
}

@media only screen and (max-width: 768px) {
  
}

